$base-font-size: 16;

$white: #fff;
$black: #212121;
$light-gray: #e0e0e0;
$medium-gray: #666;
$background-gray: #f7f7f7;
$blue: #6493eb;
$border-gray: #e0e0e0;

$rock: #b69e31;
$ghost: #70559b;
$steel: #b7b9d0;
$water: #6493eb;
$grass: #74cb48;
$psychic: #fb5584;
$ice: #9ad6df;
$dark: #75574c;
$fairy: #e69eac;
$normal: #aaa67f;
$fighting: #c12239;
$flying: #a891ec;
$poison: #a43e9e;
$ground: #dec16b;
$bug: #a7b723;
$fire: #f57d31;
$electric: #f9cf30;
$dragon: #7037ff;

$max-width: 600px;
$header-height: 125px;
$footer-height: 60px;
