@import "common/common";

.card {
	position: relative;
	display: block;
	flex: 0 0 calc(50% - 24px);
	text-align: center;
	margin: 10px;
	border: 2px solid;
	border-radius: 8px;
	overflow: hidden;

	@include tablet {
		flex: 0 0 calc(33.33% - 24px);
	}

	&__favorite {
		position: absolute;
		top: 5px;
		right: 10px;
	}

	&__image {
		padding: 10px 20px;
		background-color: $white;
	}

	&__name {
		padding: 10px;

		h2 {
			@include font-reg;
			@include font-size(16);
			text-transform: capitalize;
			color: $white;
			margin: 0;
		}
	}
}

$colors: $grass, $psychic, $electric, $water, $ghost, $dark;

@for $i from 1 through length($colors) {
	.card:nth-child(#{length($colors)}n + #{$i}) {
		background: nth($colors, $i);
		border-color: nth($colors, $i);
	}
}
